.gearhead-lower {
    margin: 0 auto;
    text-align: left;
    max-width: 45rem;
    padding: 1.5rem;
}

.gearhead-container {

}

.image-wrap {
    width: 250px;
    border: 1px solid #f7f7f7;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.image-wrap img {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}

.image-wrap .hover-actions {
    display: none;
    position: absolute;
    top: 5px;
    width: 100%;
    padding: 0 5px;
    text-align: right;
}

.image-wrap:hover .hover-actions {
    display: block;
}

.hover-actions a {
    color: #FFF;
    padding: 2px;
    text-decoration: none;
    background: #000;
    border-radius: 50%;
    margin: 0 5px;
    height: 1em;
    width: 1em;
}